<% provide(:about, 'active') %>
<section class="row socialStuff">
  <!-- some text & a twitter unit -->
  <div class=span12>
    <header class="page-header">
      <h1>
        Qui sommes nous?
        <small>A propos de notre société</small>
      </h1>
    </header>
  </div>
  <div class=span9>
    <h2>Informations</h2>

    <p><%= Vitatechpharma.config.site_name %> est une société marocaine qui oeuvre dans la distribution des compléments alimentaires.Son
      objectif est la prise en charge de la douleur, la prévention et l’amélioration du bien-être du corps à long terme.
      <%= Vitatechpharma.config.site_name %> ne cesse de satisfaire les attentes des patients et de faire évoluer sa gamme de produits.</p>
    <p>Les produits <%= Vitatechpharma.config.site_name %> sont en vente au grand public dans les pharmacies et parapharmacies distributrices.
      Ce choix de points de vente est voulu afin de faire bénéficier le patient de conseils professionnels personnalisés
      dans l’objectif de meilleurs résultats des produits.</p>

    <h2>Ce que vous devez savoir</h2>

    <p>Ce site est un support d’informations mais aussi de promotion pour la vente des produits ViatatechPharma, en pharmacie et parapharmacie. Il bénéficie d’un puissant référencement naturel qui favorise le développement commercial des produits <%= Vitatechpharma.config.site_name %> pour ses points de vente.</p>

    <h2>Notre équipe</h2>
    <ul>
      <li>James Watt - Engineer</li>
      <li>Leonardo da Vinci - Inventor & Genius</li>
      <li>Django Reinhardt - Jazzlegend</li>
      <li>Gordon Ramsay - Chef</li>
    </ul>
  </div>
  <div class=span3>
    <ul class="thumbnails">
      <li class="span3">
        <%= link_to image_tag("media/thumbs/img001.jpg", alt: ""), "#", class:"thumbnail" %>
      </li>
      <li class="span3">
        <%= link_to image_tag("media/thumbs/img002.jpg", alt: ""), "#", class:"thumbnail"%>
      </li>
      <li class="span3">
        <%= link_to image_tag("media/thumbs/img003.jpg", alt: ""), "#", class:"thumbnail" %>
      </li>
    </ul>
  </div>
</section>