<% provide(:active-menu, 'HOME') %>
<section class="row imageBox">
  <div class=span12>
    <!-- The large image carousel on the top -->
    <div id=homeCarousel class="carousel slide">
      <!-- Carousel items -->
      <div class=carousel-inner>
        <div class="active item">
          <%= image_tag "carousel/normal/1.jpg", alt: "" %>
          <div class="carousel-caption align-right">
            <h1>La Micronutrition</h1>

            <p>le bien-&ecirc;tre au quotidien.</p>

            <p><%= link_to "More Information", "#", class: "btn btn-default btn-large" %></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "carousel/normal/3.jpg", alt: "" %>
          <div class=carousel-caption>
            <h1>La Micronutrition</h1>

            <p>Préserver et améliorer votre capital santé.</p>

            <p><%= link_to "Learn Why", "#", class: "btn btn-default btn-large" %></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "carousel/normal/4.jpg", alt: "" %>
          <div class="carousel-caption align-right">
            <h1>La Micronutrition</h1>

            <p>Des produits innovants, efficaces et sûrs.</p>

            <p><%= link_to "How Can This Be?", "#", class: "btn btn-default btn-large" %></p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <%= link_to "&lsaquo;".html_safe, "#homeCarousel", class: "carousel-control left", data: {slide: "prev"} %>
      <%= link_to "&rsaquo;".html_safe, "#homeCarousel", class: "carousel-control right", data: {slide: "next"} %>
    </div>
  </div>
</section>

<section class="row featured">
  <!-- four nice small boxes filled with important things -->
  <div class="span12">
    <header class="page-header">
      <h1>
        VitatechPharma
        <small>le bien-&ecirc;tre au quotidien !</small>
      </h1>
      <!--h2>
        Depuis pr&egrave;s de 20 ans, le Laboratoire LESCUYER propose de nombreuses gammes de produits visant à
        préserver et améliorer votre capital santé.
        Qu'il s'agisse de compléments alimentaires, de produits diététiques ou cosmétiques, le Laboratoire LESCUYER
        s'engage à développer des produits de
        santé innovants, efficaces et sûrs.
      </h2-->
    </header>
  </div>
  <div class="span6">
    <h2>PRODUCT_1</h2>
    <p>PRODUCT_1_SHORT_DESCRIPTION</p>
  </div>
  <div class="span6">
    <h2>PRODUCT_2</h2>
    <p>PRODUCT_2_SHORT_DESCRIPTION</p>
  </div>
  <div class="span6">
    <h2>PRODUCT_3</h2>
    <p>PRODUCT_3_SHORT_DESCRIPTION</p>
  </div>
  <div class="span6">
    <h2>PRODUCT_4</h2>
    <p>PRODUCT_4_SHORT_DESCRIPTION</p>
  </div>
</section>
