<footer class=footer>
  <div class=top>
    <div class=container>
      <div class=row>
        <div class=span5>
          <h3>Contactez-nous</h3>
          <p><%= Vitatechpharma.config.site_name %><br>
            171 Bv Hassan 2,<br>
            80000 Agadir, Maroc<br>
            tél: +212 528990199<br>
            email: contact@vitatechpharma.com</p>
        </div>
        <div class=span7>
          <h3>NEWSLETTER</h3>
          <p>Inscrivez-vous, restez informé et suivez l'actualité scientifique de la Micronutrition!</p>
          <%= form_for @newsletter, url: {action: "addToNewsletter"}, html: {class: "form-horizontal"} do |f| %>
              <div class="control-group">
                <div class="input-append input-prepend">
                  <span class=add-on>@</span><%= f.text_field :email, class:"span4", size:"16" %><%= f.submit "Go", class: "btn" %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class=bottom>
    <div class=container>
      <div class=row>
        <div class="span12">
          <p>&copy; <%= Vitatechpharma.config.site_name %> 2013. Powered by   <a href="http://facebook.com/cryptopascal">Othomo Lac</a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<%= javascript_include_tag "application" %>