<header class="container header">
  <div class=row>
    <div class=span4>
      <h1>
        <%= image_tag "logo.png", alt:"logo", id:"logo" %>
        <%= Vitatechpharma.config.site_name %>
      </h1>
    </div>
    <!-- Menu & Search -->
    <nav class=span8>
      <form class="form-horizontal pull-right">
        <div class="control-group">
          <div class="input-append input-prepend">
            <span class=add-on><i class=icon-search></i></span>
            <input class=span2 type=text size=16>
            <button class=btn type=button>search</button>
          </div>
        </div>
      </form>
      <ul class="nav nav-pills pull-right">
        <li class="<%= yield(:home) %>">
          <%=  link_to "Acceuil", root_path %>
        </li>
        <li class="dropdown <%= yield(:produit) %>">
          <%=  link_to "Produits<b class='caret'></b>".html_safe, "#", class:"dropdown-toggle", id:"drop4", data: {toggle: "dropdown"}, role:"button"  %>
          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
            <li><a role="menuitem" tabindex="-1" href="#">PRODUCT_1</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">PRODUCT_1</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">PRODUCT_1</a></li>
          </ul>
        </li>
        <li class="<%= yield(:about) %>"> <%=  link_to "A Propos", about_path %></li>
        <li class="<%= yield(:contact) %>"> <%=  link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>